.home
  min-height 100vh

.lazy-view
  .lazy-item
    height 200px
    background-color f1f3f4
    width 500px
    border 1px solid red
    margin 0 auto
    margin-bottom 40px
    display flex
    align-items center
    justify-content center
    font-size 30px
    color #666
